.admin-container {
  padding: 40px;

  min-height: 100vh;

  background: #f8fafc;
}

.admin-title {
  text-align: center;

  font-size: 38px;

  font-weight: 700;

  margin-bottom: 40px;

  color: #1e293b;
}

.stat-card {
  background: white;

  padding: 30px;

  border-radius: 20px;

  text-align: center;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  transition: 0.3s;

  cursor: pointer;
}

.stat-card:hover {
  transform: translateY(-8px);
}

.stat-card svg {
  color: #2563eb;

  margin-bottom: 15px;
}

.stat-card h2 {
  margin-bottom: 10px;

  font-size: 22px;
}

.stat-card p {
  font-size: 30px;

  font-weight: bold;

  color: #2563eb;
}

.quick-title {
  margin-bottom: 25px;
}

.action-btn {
  border: none;

  padding: 20px;

  border-radius: 18px;

  background: #2563eb;

  color: white;

  font-size: 18px;

  font-weight: 600;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 12px;

  cursor: pointer;

  transition: 0.3s;
}

.action-btn:hover {
  background: #1d4ed8;

  transform: translateY(-5px);
}
.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 50px;
}

.action-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.analytics-grid,
.tables-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 30px;
}

.chart-box,
.table-box {
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.chart-box h2,
.table-box h2 {
  margin-bottom: 15px;
  color: #1e293b;
}

.table-box table {
  width: 100%;
  border-collapse: collapse;
}

.table-box th,
.table-box td {
  text-align: left;
  padding: 12px 10px;
  border-bottom: 1px solid #e5e7eb;
}

.table-box th {
  color: #2563eb;
}

@media (max-width: 992px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .action-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .stats-grid,
  .action-grid,
  .analytics-grid,
  .tables-grid {
    grid-template-columns: 1fr;
  }
}
.chart-card {
  width: 100%;
  height: 450px;
  background: #fff;
  margin-top: 30px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.chart-card h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.dashboard-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.dashboard-loading h2 {
  color: #555;
}
.recharts-responsive-container {
  width: 100% !important;
}
